<div class="row">    
  <div class="large-12 columns">
    <h3>About Vishwa</h3>
      <p><b>Vishwa</b>, founded by IIT and NIT alumni in 2005, is a premier institute conceived and established by a group of professionals, having a wide and in depth experience in the field of professional education. The institute teams up with a faculty which uphold the tradition of high quality teaching and enrich the aspirants with their invaluable knowledge. The faculty comprises not only the alumni of IITs and NITs but also the professionals from Microsoft, IBM, Caterpiller, Areva etc., who share with the aspirants their knowledge and techniques to tackle the exam. The institute, thus comes out to be one of its kind imparting high quality education for GATE, PSUs and IES. Institute provides comprehensive classroom training programme & High quality Online Tests at <b>www.vishwa.tenpointer.com</p>

      <p>The systematic and scientific methods followed by the institute in the preparation of material and conducting coaching classes have helped securing best ranks in the various competitive exams.</p>
  
      <p>Each year over 150+ of our students make it to the country’s top institutions like IISc, IITs, NITs and other reputed universities.</p>

      <p>As part GATE Coaching Vishwa offers 30 Subject-wise and 10 full length GATE practice tests to our students. Our Online test portal <b>www.vishwa.tenpointer.com</b> also forums for discussing hard topics and career guidance with faculty and India Rankers in GATE.</p>
  </div>
</div>
<br/> 
  