<h3>Campus placement</h3>
  <p><b>Campus placement</b> or campus interview is the program conducted within educational institutes or in a common place to provide jobs to students pursuing or in the stage of completing the programme. In this programme, industries visit the colleges to select students depending on their ability to work, capability, focus and Aim.</p>
<h4>Types of campus placement</h4>
  <p>There are two types of campus placement. They are on-campus and off-campus</p>
<div class="large-11 columns">
<h5>Pool Campus</h5>
  <p>This job placement program is conducted within a group of colleges. And in this job is given as an off campus placement.
  This job placement program is for students from other institutions. This program will be conducted in a common place (it may be in a college or in some public place) where students from different colleges will take part.</p>
<h5>Project Placement</h5>
  <p>Companies recruit students to do their academic project in the interiors industrial environment.</p>
<h5>Student Internship Placement</h5>
  <p>Companies recruit the students as interns. Internship will be during their student period.</p>

<h5>Objective</h5>
  <p>The major objective of campus placement is to identify the talented and qualified professionals before they complete their education. This process reduces the time for an industry to pick the candidates according to their need. It is a cumbersome activity and hence majority of the companies find it difficult to trace the right talent. Since, many of the students do not understand the importance of training that is being imparted, whether it is an aptitude training or soft skills. When they show least interest due to various factors viz., projects, assignments or more of activities loaded by the colleges as part of their curriculum it actually demotivates the students and make them hatred towards placement training. Companies which plans to train the students and make them equipped on all aspects of career development should make an impact in the minds of the students that every minute they spend towards their training is knowledge for them.</p>
</div>
<h3>Procedure</h3>
<div class="large-10 columns">
<h5>Pre-Placement Talk</h3>
  <p>A presentation about the company will be made during the pre-placement talk. Basically the presentation includes the information like selection procedure, company’s milestones, organizational achievements, candidate scope of improvement within the organization if selected, salary, employment benefits. Usually this presentation will end up with question and answer session, students given chance to ask questions about company.</p>
<h5>Educational qualification</h5>
  <p>Companies who are interested in campus visit for recruitment purpose will have specific qualification criteria. Qualification criteria include marks or grade range, specific program.</p>
<h5>Written Test</h5>
  <p>Qualified students will undergo a test. This is usually a simple aptitude test but depending on company and the position looking for, the difficulty level of the test may be at the higher side.</p>
<h5>Group discussion</h5>
  <p>Most of the companies will have this round as a filtering round. This round may or may not be conducted.</p>
  <p>A common topic is placed before the group and a formal discussion or knowledge sharing is expected by the judge. Purpose of this round is to check communication skills, etiquette of person, listening ability, convincing power, group leadership, leader or follower and many more thing are evaluated on the basis of requirement or the particular intention of organisation or company.</p>
<h5>Technical Interview</h5>
  <p>Based on outcome of above said process, students will further undergo a round called technical round. This round evaluates the technical ability of the student. In most of the cases this will be an individual round but it may be grouped with the formal interview.</p>
<h5>Formal interview</h5>
  <p>Final round of the selection process, where the student’s stability and his confidence level towards the particular work will be evaluated. The interview focusses on overall personality of the candidate.</p>
<h5>Post-Placement Talk</h5>
  <p>Once the student is selected,He will be given an offer letter. Company’s executive may provide guidelines about joining procedure and other prerequisites if needed.</p>
</div>



<div class="row">
  <div class="large-4 columns">
    <img src="/assets/12396.jpg" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="/assets/24866.jpg" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="/assets/32890.jpg" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  </div>
</div>   
<!-- Call to Action Panel -->
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-9 columns">
          <h4>Vishwa</h4>
          <h6>2nd Floor,Green Square Plaza</h6>
          <h6>Hanamkonda,<b>ph:</b>9010162099</h6>
        </div>
      <div class="large-3 columns">
        <a href="#" class="radius button right">Contact Us</a>
      </div>
    </div>
  </div>
</div>
 