<div class="row">
  <div class="large-12 columns panel">
    <h3>Graduate Aptitude Test in Engineering</h3>
        <p>The <b>Graduate Aptitude Test in Engineering (GATE)</b> is an all-India examination that primarily tests the comprehensive understanding of various undergraduate subjects in engineering and science. GATE is conducted jointly by the IISc and seven Indian Institutes of Technology (IIT Bombay, IIT Delhi, IIT Guwahati, IIT Kanpur, IIT Kharagpur, IIT Madras and IIT Roorkee) on behalf of the National Coordination Board – GATE, Department of Higher Education, Ministry of Human Resource Development (MHRD), Government of India. The GATE score of a candidate reflects the relative performance level of a candidate. The score is used for admissions to various post-graduate programmes (e.g. M.E., M.Tech, direct Ph.D.) in Indian higher education institutes with financial assistance provided by MHRD and other Government agencies. The score may also be used by Public sector units for employment screening purposes.</p>

<h3>Financial Assistance</h3>
<p>A valid GATE score is essential for obtaining financial assistance during Master’s programs and direct Doctoral programs in Engineering/Technology/Architecture, and Doctoral programs in relevant branches of Science in Institutes supported by the Ministry of Human Resources Development (MHRD) or other Government agencies.</p>

<p> To avail the financial assistance (scholarship), the candidate must first secure admission to a program in the UGC/AICTE approved institutes, by a procedure that could vary from institute to institute. </p>

<p>Qualification in GATE is also a minimum requirement to apply for various fellowships awarded by many Government organizations. The criteria for postgraduate admission with scholarship/assistant-ship could be different for different institutions.</p>

<h3>Eligibility</h3>
<p>The following are eligible to take GATE
<ul>
  <li>
    Bachelor’s degree holders in Engineering/ Technology/ Architecture (4 years after 10+2/ Post-B.Sc./ Post-Diploma) and those who are in the final year of such programs.
  </li>
  <li>
    Master’s degree holders in any branch of Science/ Mathematics/ Statistics/ Computer Applications or equivalent and those who are in the final year of such programs.
  </li>
  <li>
    Candidates in the second or higher year of Four-year integrated Master’s degree programs (Post-B.Sc.) in Engineering/ Technology.
  </li>
  <li>
    Candidates in the fourth or higher year of Five-year integrated Master’s degree programs or Dual Degree programs in Engineering/Technology.
  </li>
  <li>
    Candidates with qualifications obtained through examinations conducted by professional societies recognized by UPSC/AICTE (e.g. AMIE by iE(i), AMICE(i) by the institute of Civil Engineers (india)-iCE(i)) as equivalent to B.E./B.Tech.
  </li>
  <p>
    Those who have completed section A or equivalent of such professional courses are also eligible.
  </p>

</ul>
<h3>Duration and examination type</h3>
<p>The GATE examination consists of a single test of 3-hour duration that contains 65 questions carrying a maximum of 100 marks. The questions consist of both multiple choice questions (MCQs) and numerical answer type questions.From 2014 onwards, the examination for all the papers is carried out in an online Computer Based Test (CBT) mode where the candidates are shown the questions in a random sequence on a computer screen. The candidates are required to either select the answer (for multiple-choice question type) or enter the answer for numerical answer type question using a mouse on a virtual keyboard (keyboard of the computer is disabled). Candidates are provided with blank paper sheets for rough work and these have to be returned back after the examination. At the end of the 3-hour window, the computer automatically closes the screen from further actions.</p>
<h3>Admission to Post-Graduate programs</h3>
<p>Unlike undergraduate admissions in India, candidates must apply individually to each institute after the institute has published its M.Tech. notification (usually in the month of March). There is no separate counseling held.</p>
<p>Some institutions specify GATE qualification as mandatory even for admission of self-financing students to postgraduate programs. GATE qualified candidates are also eligible for the award of Junior Research Fellowship in CSIR Laboratories and CSIR sponsored projects.Top rank holders in some GATE papers are entitled to apply for “Shyama Prasad Mukherjee Fellowship” awarded by CSIR. Some government organizations prescribe GATE qualification as a requirement for applying to the post of a Scientist/Engineer.</p>
<p>In recent years, various academicians have recognized GATE as being one of the toughest exams in its category. Some non-Indian universities like the National University of Singapore, Nanyang Technological University in Singapore and some technical universities in Germany also identify GATE score as a parameter for judging the quality of the candidates for admission into their Masters and Ph.D. programs.</p>
<p>Some management institutes like NITIE, Mumbai offer admission to Post Graduate Diploma in Industrial Engineering on the basis of GATE score.</p>
<p>Most Indian institutes do not specify cut-off marks for previous years. So there is a general confusion in terms of selecting institutes and specializations. But in the recent years <b>IIT Kharagpur</b> and <b>IIT Guwahati</b> have been specifying last year cut-off mark list.<b>Indian Institute of Technology Delhi</b> has a very detailed website on Post Graduate (PG) activities and admissions where students can find the relevant information on cut-off marks etc. Typically the Indian Institute of Science and Indian Institutes of Technology are the most selective followed by National Institutes of Technology and others. Also there are some state universities in India, whose standards and facilities are very much comparable to top<b> IITs</b> and <b>NITs</b>. Some of them are <b>Bengal Engineering and Science University </b>(recently converted to IIEST),<b> Jadavpur University</b>, <b>Delhi Technological University</b>,<b> Cochin University of Science and Technology (CUSAT)</b>,<b> Andhra University College of Engineering</b>, <b>Osmania University </b>and <b>PEC University of Technology, Chandigarh </b>etc. Even within the top institutes, the selection criteria varies widely across departments and programs depending on expertise areas.</p>
<p>The Directorate of Technical Education of Maharashtra state has also started conducting CAP round from the year 2013 for GATE and non-GATE candidates in all institute in Maharashtra that offer M.E./M.Tech. programs.
</p>




      <!-- Header and Nav -->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Top Bar Title
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a class="active" href="#">Main Item 1</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li><a href="#" class="">Dropdown Level 1</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 3</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
       
      </ul>
 
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 4</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li class="has-dropdown">
                  <a href="#">Has Dropdown, Level 2</a>
                  <ul class="dropdown test">
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                  </ul>
                </li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Main Item 5</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 6</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
 <br/>
 
  <!-- End Header and Nav -->
 
  <!-- Main Grid Section -->
 
  <div class="row">
 
    <div class="large-3 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="large-3  columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
 
  </div>
 
 
 
  <div class="row">
 
    <div class="large-6 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <p>
          <img src="/assets/27249.jpg" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.</p>
      </div>
    </div>
 
  </div>
 
 
  <div class="row">
 
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="/assets/27249.jpg" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="/assets/27249.jpg" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="/assets/27249.jpg" />
        </p>
      </div>
    </div>
 
  </div>
 
 
  <div class="row">
 
    <div class="large-6 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
 
  </div>
 
  <!-- End Grid Section -->
 
 