<footer class="row panel " >
  <div class="large-12 columns" style="background-color:#333333;border-radius:10px 10px 0px 0px;">
    <div class="row">
      <div class="large-4 columns">
        <h3>Foundation</h3>
          <p >Foundation is made by ZURB, a product design  company in Campbell, California. We've put more than 15 years of experience building web products, services and websites into this framework.
          </p>
      </div>
      
      <div class="medium-8 columns">
        <div class="row collapse">
          <div class="medium-4 columns">
            <div class="learn-links">
              <h4 class="hide-for-small">Want more?</h4>
              <ul>
                <li><h6>Foundation Business</h6></li>
                <li><h6>Responsive</h6></li>
                <li><h6>Design Apps</h6></li>
                <li><h6>Foundation Training</h6></li>
              </ul>
            </div>
          </div>
          <div class="medium-4 columns">
            <div class="support-links">
              <h4 class="hide-for-small">Talk to us</h4>
              <p>Tweet us at <br> 
                <a href="https://twitter.com/">@vishwa</a>
              </p>
              <p>Email us at <br> 
                <a href="mailto:sairam1274@gmail.com">Vishwa@gmail.com</a></a>
              </p>
            </div>
          </div>
          <div class="medium-4 columns">
            <div class="connect-links">
              <h4 class="hide-for-small">Stay in touch</h4>
              <p>Keep up with the latest on Foundation. Find us on </p>
              <a href="" class="small button">Stay Connected</a>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <p class="copyright">© 2007–2014 Vishwa, Inc. All rights reserved.</p>
  </div>  
</footer>


<style type="text/css">
li{
   list-style: none;
   }
   p{
    color: #666666;
    }</style>



